<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>Basic Usage</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">


    <link rel='stylesheet prefetch' href='https://cdn.gitcdn.xyz/cdn/angular/bower-material/v1.0.5/angular-material.css'>
<link rel='stylesheet prefetch' href='https://material.angularjs.org/1.0.5/docs.css'>

        <link rel="stylesheet" href="css/style.css">




  </head>

  <body>

    <div ng-controller="AppCtrl" ng-cloak="" class="sliderdemoBasicUsage" ng-app="MyApp">
  <md-content style="margin: 16px; padding:16px">

    <!-- <h3>
      RGB <span ng-attr-style="border: 1px solid #333; background: rgb({{color.red}},{{color.green}},{{color.blue}})">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
    </h3> -->
    <h1>Strelka/Cushman & Wakefield</h1>

    <!-- <h3>Old</h3> -->
    <div layout="column" flex="50">
      <md-input-container flex="50" class="md-block" flex-gt-sm type="number" ng-repeat="(key, item) in old.inputs">
        <label>{{item.name}}</label>
        <input ng-model="item.value">
      </md-input-container>
    </div>

    <div layout="row" id="results">
      <h2 flex="50">
          Old rent =  {{old.formulas.monthlyRent()}}
      </h2>
      <h2 flex="50">
          New rent = {{new.formulas.monthlyRent()}}
      </h2>
    </div>


    <!-- <h3>New</h3> -->
    <div layout="row" ng-repeat="(key, item) in new.inputs">
      <div layout="column" flex="50">
      </div>
      <div layout="column" flex="50">
        <div flex="50" layout="">
        </div>
        <div flex="10" layout="">
          <span class="md-body-1">{{item.name}} = {{item.value}}</span>
        </div>
        <md-slider flex="40" min="0" max="100" ng-model="item.value" aria-label="red" id="red-slider" class="md-primary">
        </md-slider>
      </div>
    </div>

  </md-content>
</div>

<!--
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that can be in foundin the LICENSE file at http://material.angularjs.org/license.
-->
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js'></script>
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js'></script>
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.min.js'></script>
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js'></script>
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js'></script>
<script src='http://ngmaterial.assets.s3.amazonaws.com/svg-assets-cache.js'></script>
<script src='https://cdn.gitcdn.xyz/cdn/angular/bower-material/v1.0.5/angular-material.js'></script>

        <script src="js/index.js"></script>




  </body>
</html>
